{% extends '../base.html' %}
{% load static %}
{% block content %}

<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-lg-5 z-depth-2">

      <form 
        class="p-5" 
        action="{% url 'login' %}" 
        method="POST">
          {% csrf_token %}

          <p class="text-center h4 mb-4">Sign in</p>

        <div class="mx-3">

          <div class="md-form mb-5">
              <i class="fas fa-user prefix grey-text"></i>
              <input type="text" name="username" id="form_username" class="form-control validate">
              <label for="form_username">Your username</label>
          </div>

          <div class="md-form mb-4">
              <i class="fas fa-lock prefix grey-text"></i>
              <input type="password" name="password" id="form_password" class="form-control validate">
              <label for="form_password">Your password</label>
          </div>

          <div class="text-center">
            <!-- Sign in button -->
            <button class="btn btn-default my-4" type="submit">Sign in</button>

            <!-- Register -->
            <p>Not a member?
                <a href="{% url 'register' %}">Register</a>
            </p>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>

{% endblock %}