{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-lg-5 z-depth-2">

      <form 
        class="p-10" 
        action="{% url 'register' %}" 
        method="POST">
          {% csrf_token %}

        <p class="text-center h4 pt-2">Register</p>

        <div class="mx-3">

          <div class="md-form mb-5">
              <i class="fas fa-user prefix grey-text"></i>
              {{ form.username }}
              <label for="{{ form.username.id_for_label }}">Username</label>
              {{ form.username.errors }}
          </div>

          <div class="md-form mb-5">
              <i class="fas fa-lock prefix grey-text"></i>
              {{ form.password1 }}
              <label for="{{ form.password1.id_for_label }}">Password</label>
              {{ form.password1.errors }} 
          </div>

          <div class="md-form mb-5">
              <i class="fas fa-lock prefix grey-text"></i>
              {{ form.password2 }}
              <label for="{{ form.password2.id_for_label }}">Confirm Password</label>
              {{ form.password2.errors }}
          </div>

          <div class="text-center">
            <!-- Sign in button -->
            <button class="btn btn-default my-4" type="submit">Register</button>

            <!-- Register -->
            <p>Already a member?
                <a href="{% url 'login' %}">Login</a>
            </p>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>

{% endblock %}