{% extends '../base.html' %}
{% load static %}
{% block content %}

<h2>Book Detail</h2>

<table class="table table-striped table-responsive-md">
    <tr>
        <th>ISBN Code</th>
        <td>{{ object.isbn }}</td>
    </tr>
    <tr>
        <th>Title</th>
        <td>{{ object.title }}</td>
    </tr>
    <tr>
        <th>Publisher</th>
        <td>{{ object.publisher }}</td>
    </tr>
    <tr>
        <th>Author</th>
        <td>{{ object.author }}</td>
    </tr>
    <tr>
        <th>Description</th>
        <td>{{ object.description }}</td>
    </tr>
    <tr>
        <th>Cover</th>
        <td><img class="z-depth-2" src="{{object.cover_img}}" style="max-width: 25%; height: auto;"></td>
    </tr>
    <tr>
        <th>Download Link</th>
        <td>
            <a class="font-weight-bold text-primary" href="{{object.ebook_link}}">
            {{object.ebook_link}}
           </a>
        </td>
    </tr>
</table>

{% if user.is_authenticated and not object.is_borrowed %}
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#basicExampleModal">
        Borrow Book
    </button>
    
    <!-- Modal -->
    <div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Borrow Book?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Do you want to borrow {{object.title}} for 1 month?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                    <form method="POST" action="{% url 'borrow_create' isbn=object.pk %}">
                        {% csrf_token %}
                        <button class="btn btn-default" type="submit">Yes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% if user.is_authenticated and user == object.uploader or user.is_staff %}
    <a class="btn btn-green" href="{{object.get_update_url}}">Edit</a>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">
        Delete
    </button>

    <!-- Delete Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete Book?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete {{object.title}}?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    <form method="POST" action="{% url 'book_delete' pk=object.pk %}">
                        {% csrf_token %}
                        <button class="btn btn-danger" type="submit">Yes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endif %}


{% endblock %}