{% extends '../base.html' %}
{% load static %}
{% block content %}

<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-12 z-depth-2">

      <p class="text-center h3 pt-2">Book Submission Detail</p>
      <form method="POST">
        {% csrf_token %}

        {% for field in form %}
          <div class="md-form">
              {{ field }}
              <label for="{{ field.id_for_label }}">{{ field.label }}</label>
              {{ field.errors }}
          </div>
        {% endfor %}

        <div class="text-center my-4">
          <button class="btn btn-default" type="submit">Submit</button>
        </div>
      </form>

    </div>
  </div>
</div>

{% endblock %}