{% extends '../base.html' %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}
    <div class="text-center">
        <a class="btn btn-default btn-rounded mb-4" href="{% url 'book_create' %}">
            Submit a Book
        </a>
    </div>
{% else %}
    <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Sign in</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="POST" action="{% url 'login' %}">
                    {% csrf_token %}
                    <div class="modal-body mx-3">

                        <div class="md-form mb-5">
                            <i class="fas fa-user prefix grey-text"></i>
                            <input type="text" name="username" id="modal_username" class="form-control validate">
                            <label data-error="wrong" data-success="right" for="modal_username">Your username</label>
                        </div>

                        <div class="md-form mb-4">
                            <i class="fas fa-lock prefix grey-text"></i>
                            <input type="password" name="password" id="modal_password" class="form-control validate">
                            <label data-error="wrong" data-success="right" for="modal_password">Your password</label>
                        </div>

                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button class="btn btn-default" type="submit">Login</button>
                    </div>
                <p class="text-center">
                    Not a member?
                    <a href="{% url 'register' %}">Register</a>
                </p>
                </form>
            </div>
        </div>
    </div>

    <div class="text-center">
        <a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalLoginForm">
            Submit a Book
        </a>
    </div>
{% endif %}

{% if object_list %}
    <table class="table table-striped table-responsive-md">
    <tr>
        <th>Title</th>
        <th>ISBN</th>
        <th>Publisher</th>
        <th>Author</th>
        <th>Year</th>
        <th>Download Link</th>
        <th>Approved</th>
        <th>Borrowed</th>
    </tr>

    {% for object in object_list %}
        <tr>
            <td><a class="font-weight-bold text-primary" href="{{object.get_absolute_url}}">{{object.title}}</a></td>
            <td>{{ object.isbn }}</td>
            <td>{{ object.publisher }}</td>
            <td>{{ object.author }}</td>
            <td>{{ object.year }}</td>
            <td><a class="btn btn-default" href="{{ object.ebook_link }}"</a>click here</td>
            {% if object.is_approved %}
                <td><i class="fas fa-check"></i></td>
            {% else %}
                <td><i class="fas fa-times"></i></td>
            {% endif %}
            <td>{% if object.is_borrowed %}Yes{% else %}No{% endif %}</td>
        </tr>
    {% endfor %}
    </table>

    {% if is_paginated %}
        <nav class="d-flex justify-content-center" aria-label="Page navigation">
            <ul class="pagination pg-teal">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" 
                            href="
                                ?page={{ page_obj.previous_page_number }}
                                {% if request.GET.search %}
                                    &search={{ request.GET.search }}
                                {% endif %}">
                            Previous
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" 
                            href="
                               ?page={{ page_obj.previous_page_number }}
                               {% if request.GET.search %}
                                   &search={{ request.GET.search }}
                               {% endif %}">
                            {{page_obj.previous_page_number}}
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link">
                            Previous
                        </a>
                    </li>
                {% endif %}
                <li class="page-item active">
                    <span class="page-link" 
                        href="
                            ?page={{ page_obj.number }}
                            {% if request.GET.search %}
                                &search={{ request.GET.search }}
                            {% endif %}">
                        {{page_obj.number}}
                        <span class="sr-only">
                            (current)
                        </span>
                    </span>
                </li>
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" 
                            href="
                                ?page={{ page_obj.next_page_number }}
                                {% if request.GET.search %}
                                    &search={{ request.GET.search }}
                                {% endif %}">
                            {{page_obj.next_page_number}}
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" 
                            href="
                                ?page={{ page_obj.next_page_number }}
                                {% if request.GET.search %}
                                    &search={{ request.GET.search }}
                                {% endif %}">
                            Next
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">
                            Next
                        </span>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}

{% else %}
    <h2 class="text-center">No Books Found!!! :(</h2>
{% endif %}

{% endblock %}