{% extends '../base.html' %}
{% load static %}
{% block content %}

<div class="text-center">
    <a href="{% url 'book_create' %}" class="btn btn-default btn-rounded mb-4">
        Submit a Book
    </a>
</div>

{% if object_list %}
    <table class="table table-striped tale-responsive-md">
    <tr>
        <th>Title</th>
        <th>ISBN</th>
        <th>Publisher</th>
        <th>Author</th>
        <th>Year</th>
        <th>Download Link</th>
        <th>Approved</th>
        <th>Edit Book</th>
    </tr>

    {% for object in object_list %}
        <tr>
            <td><a class="font-weight-bold text-primary" href="{{object.get_absolute_url}}">{{object.title}}</a></td>
            <td>{{ object.isbn }}</td>
            <td>{{ object.publisher }}</td>
            <td>{{ object.author }}</td>
            <td>{{ object.year }}</td>
            <td><a class="btn btn-default" href="{{ object.ebook_link }}"</a>click here</td>
            {% if object.is_approved %}
                <td><i class="fas fa-check"></i></td>
            {% else %}
                <td><i class="fas fa-times"></i></td>
            {% endif %}
            <td><a class="btn btn-green" href="{{ object.get_update_url }}">Edit</a></td>
        </tr>
    {% endfor %}
    </table>

    
    
    {% if is_paginated %}
        <nav class="d-flex justify-content-center" aria-label="Page navigation">
            <ul class="pagination pg-teal">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                            Previous
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                            {{page_obj.previous_page_number}}
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link">
                            Previous
                        </a>
                    </li>
                {% endif %}
                <li class="page-item active">
                    <span class="page-link" href="?page={{ page_obj.number }}">
                        {{page_obj.number}}
                        <span class="sr-only">
                            (current)
                        </span>
                    </span>
                </li>
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                            {{page_obj.next_page_number}}
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                            Next
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">
                            Next
                        </span>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}

{% else %}
    <h2 class="text-center">No Books Found!!! :(</h2>
{% endif %}

{% endblock %}