{% extends '../base.html' %}
{% load static %}
{% block content %}
<table class="table table-striped table-responsive-md">
<tr class="text-center">
    <th>ID</th>
    <th>Book Title</th>
    <th>Borrow Date</th>
    <th>Due Date</th>
    <th>Returned</th>
</tr>
{% for object in object_list %}
<tr>
    <td class="text-center">{{object.pk}}</td>
    <td><a class="font-weight-bold text-primary" href="{{object.borrowed_book.get_absolute_url}}">
        {{object.borrowed_book.title}}
    </a></td>
    <td class="text-center">{{object.borrow_date}}</td>
    <td class="text-center">{{object.return_date}}</td>
    {% if object.returned %}
        <td class="text-center"><i class="fas fa-check"></i></td>
    {% else %}
        {% if user.is_staff %}
            <td class="text-center">
                <form method="POST" action="{% url 'borrow_return' pk=object.pk %}">
                    {% csrf_token %}
                    <button class="btn btn-sm btn-primary" type="submit">Return</button>
                </form>
            </td>
        {% else %}
            <td class="text-center"><i class="fas fa-times"></i></td>
        {% endif %}
    {% endif %}
</tr>
{% endfor %}
{% endblock %}