<!DOCTYPE html>
<html lang="en">
{% block head %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#2BBBAD">
    <meta
        name="description"
        content="Borrow or download books for Free!"/>


    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/css/mdb.min.css">


    <title>Comfy Time</title>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top z-depth-2 bg-default">
        <a class="navbar-brand" href="{% url 'home' %}">
            <i class="fas fa-book-reader"></i>
            Comfy Time
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars"
                aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbars">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'book_list' %}"> Book List </a>
                </li>
                <li class="nav-item">
                {% if user.is_authenticated %}
                        <a class="nav-link" href="{% url 'borrow_list' %}"> Borrow Entries </a>
                {% else %}
                        <a class="nav-link" href="{% url 'register' %}"> Register </a>
                {% endif %}
                </li>
                <li>
                    <form class="form-inline my-2 my-lg-0" action="{% url 'book_list' %}" method="GET">
                        <div class="md-form my-0">
                            <input 
                                id="al-search" 
                                type="text"
                                name="search" 
                                value="{{ request.GET.search }}"
                                placeholder="Search"
                                class="form-control mr-sm-2">
                            <button type="submit" value="Search" class="btn btn-sm btn-outline-white my-2 my-sm-0">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </form>
                </li>
            </ul>
            {% if user.is_authenticated %}
                <ul class="navbar-nav mr-right">
                    <li class="nav-item">
                        <a href="{% url 'book_uploaded' %}" class="nav-link">
                            Logged in as {{ user.username }} {% if user.is_staff %}(Staff){% endif %}
                        </a>
                    </li>
                    <form class="form-inline my-2 my-lg-0" action="{% url 'logout' %}" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-outline-white my-2 my-sm-0" type="submit">
                            Logout
                        </button>
                    </form>
                </ul>
            {% else %}
                <form class="form-inline my-2 my-lg-0" action="{% url 'login' %}" method="POST">
                    {% csrf_token %}
                    <div class="md-form my-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Username" aria-label="Username"
                        name="username" id="id_username">
                    <input class="form-control mr-sm-2" type="password" placeholder="Password" aria-label="Password"
                        name="password" id="id_password">
                    <button class="btn btn-outline-white my-2 my-sm-0" type="submit">
                        Sign in
                    </button>
                    </div>
                </form>
            {% endif %}
        </div>
    </nav>
</head>
{% endblock %}

<body>
    <div style="margin: 25px; margin-top: 75px">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Optional JavaScript -->
    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/js/mdb.min.js"></script>
</body>

</html>