{% extends 'base.html' %}
{% block content %}

<div class="row row-eq-height">
  {% for object in object_list %}
    <div class="col-sm-6 col-md-4 col-lg-2 mt-3">

      <div class="card h-100 z-depth-3">

        <div class="view overlay">
          <img 
            class="card-img-top "
            src="{{object.cover_img}}"
            alt="{{object.title}} Cover">
          <a href="{{object.get_absolute_url}}">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <div class="d-flex card-body align-items-center">
          <h5 class="font-weight-bold card-title text-center mx-auto">{{object.title}}</h5>
        </div>

      </div>

    </div>
  {% endfor %}
</div>
{% endblock %}